---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog"))
  .filter((value) => value.data.published)
  .sort(
    (a, b) => b.data.published_at.valueOf() - a.data.published_at.valueOf()
  );
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      main {
        width: 720px;
        max-width: calc(100% - 2em);
        margin: auto;
        padding: 3em 1em;
      }
      ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        list-style-type: disc;
        margin: 0;
        padding: 0;
      }
      ul li {
        width: 100%;
      }
      ul li * {
        text-decoration: none;
        transition: 0.2s ease;
      }

      ul li a {
        display: flex;
        flex-direction: column;
      }
      .title {
        margin: 0;
        color: rgb(var(--black));
      }
      .date {
        margin: 0;
		color: rgb(var(--gray));
      }
      ul li a:hover .title,
      ul li a:hover .date {
        text-decoration: underline;
      }
      ul a:hover img {
        box-shadow: var(--box-shadow);
      }
      @media (max-width: 720px) {
        ul {
          padding: 1rem;
        }
        ul li {
          width: 100%;
        }
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section>
        <ul>
          {
            posts.map((post) => (
              <li>
                <a href={`/blog/${post.slug}/`}>
                  <p class="title">{post.data.title}</p>
                  <p class="date">
                    <time datetime={post.data.published_at.toISOString()}>
                      {post.data.published_at.toLocaleDateString("zh", {
                        year: "numeric",
                        month: "numeric",
                        day: "numeric",
                      })}
                    </time>
                  </p>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
