---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
const posts = (await getCollection("blog"))
  .filter((value) => value.data.published)
  .sort((a, b) => b.data.published_at.valueOf() - a.data.published_at.valueOf())
  .slice(0, 10);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      .posts {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-top: 1rem;
      }

      .posts li * {
        /* text-decoration: ; */
        transition: 0.2s ease;
      }
      .posts li a {
        text-decoration: none;
        display: block;
      }
      .title {
        margin: 0;
        text-decoration: underline;
        color: rgb(var(--black));
        line-height: 1;
      }
      .date {
        margin: 0;
        color: rgb(var(--gray));
      }

      .date * {
        text-decoration: none;
      }
      .description {
        margin: 0;
        color: rgb(var(--gray));
      }
      .posts li a:hover h5,
      .posts li a:hover .date {
        color: rgb(var(--accent));
      }
      @media (max-width: 720px) {
        .posts {
          gap: 0.5em;
        }
        .posts li {
          width: 100%;
          /* text-align: center; */
        }
      }

      .notification-badge {
        background-color: #e95a5a;
        border-radius: 10px;
        padding: 10px 10px;
        width: fit-content;
        margin-left: auto;
        text-decoration: none;
        margin-right: auto;
        color: white;
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <center>
        <a href="https://www.kuldeepdev407.com" style={"text-decoration:none;"}>
          <h1>+_+</h1>
        </a>
      </center>
      <p>
        Hi Kuldeep here this is my personal site. Fuck i don't know what i am
        going to build but i have to build things so here we go life. I am
        currently aming for >= 60k INR a month salary job. Yeah for someone with
        not good english you would say its not possible but i am going all in
        either do or die. I know i have skill & quality to do projects. Sometime
        i can be less confident but life fun with up's and down's. I am in my
        20s and i am learning & building stuff. I need to build things like
        robotics and hardware that need money so i am going to build them anyhow
        by doing any work. I have been programming since 2016 and started my
        tech career from 2023. I have done things from hardware to sofware & i
        am really intrested in researching about things.
        <a href="/about">Read more about me</a>
      </p>
      <a href="mailto:kuldeepdev407@gmail.com" style="text-decoration: none;"
        ><div class="notification-badge">💼 Available for Work & Hire!</div></a
      >
      <p>I stared blogging from 2024. Check out my recent posts.</p>
      <h2>Recent Post's</h2>
      <ul class="posts">
        {
          posts.map((post) => (
            <li>
              <a href={`/blog/${post.slug}/`}>
                <h3 class="title">{post.data.title}</h3>
                <p class="date">
                  <FormattedDate date={post.data.published_at} />
                </p>
              </a>
            </li>
          ))
        }
      </ul>
      <div>
        <a href="/blogs">Read More</a>
      </div>

      <p>
        My post are also availble at:
        <ul>
          <li>
            <a href="https://medium.com/@kuldeepdev407"
              >medium.com(long story)</a
            >
          </li>
          <li>
            <a href="https://dev.to/kuldeepdev407"
              >dev.to(For more technical & short post)</a
            >
          </li>
        </ul>
      </p>
    </main>
    <Footer />
  </body>
</html>
